@import '~antd/dist/antd.css';

/* NOTE better sticking to light theme, we can override base ant theme later */

html, body {
  background: #eee;
  height: 100%;
}

.App {
  text-align: center;
  font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App h1{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    /*margin-bottom: -30px; NOTE try to avoid negative margin and paddings */
    font-weight: normal;
}

.App h2{
  font-weight: normal;
}

.App .Rows{
  font-weight: normal;
}

.App .Row {
    display: inline-block;
    padding: 10px;
    font-weight: normal;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
